Aqua-Hot/flows.json
[{"id":"2cb9e84e.f1e2d8","type":"switch","z":"5a05b8f3.894b88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":2460,"wires":[["d03caeb4.37a2a"],["f034ce25.55f"]]},{"id":"d03caeb4.37a2a","type":"exec","z":"5a05b8f3.894b88","command":"/coachproxy/rv-c/ahfuelon.pl ","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1300,"y":2400,"wires":[[],[],[]]},{"id":"f034ce25.55f","type":"exec","z":"5a05b8f3.894b88","command":"/coachproxy/rv-c/ahfueloff.pl","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1300,"y":2480,"wires":[[],[],[]]},{"id":"5887bef1.c714f","type":"exec","z":"5a05b8f3.894b88","command":"/coachproxy/rv-c/ahpreheaton.pl ","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1310,"y":2640,"wires":[[],[],[]]},{"id":"4ad00cfc.093034","type":"exec","z":"5a05b8f3.894b88","command":"/coachproxy/rv-c/ahpreheatoff.pl","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1310,"y":2720,"wires":[[],[],[]]},{"id":"26a3d6c2.6620da","type":"switch","z":"5a05b8f3.894b88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":2680,"wires":[["5887bef1.c714f"],["4ad00cfc.093034"]]}]