TV Lift/flows.json
[{"id":"7e3a947d.422b9c","type":"ui_button","z":"5a05b8f3.894b88","name":"TV Up","group":"f77258cc.3f76a8","order":1,"width":"3","height":"1","passthru":false,"label":"","tooltip":"","color":"#fff","bgcolor":"","icon":"fa-arrow-up fa-lg","payload":"u","payloadType":"str","topic":"0","x":1690,"y":380,"wires":[["19c2c8f8.b20587","2f059791.2e23b8"]]},{"id":"ac04b75b.904a48","type":"ui_button","z":"5a05b8f3.894b88","name":"TV Down","group":"f77258cc.3f76a8","order":2,"width":"3","height":"1","passthru":false,"label":"","tooltip":"","color":"#fff","bgcolor":"","icon":"fa-arrow-down fa-lg","payload":"d","payloadType":"str","topic":"0","x":1680,"y":420,"wires":[["8e6c2d9d.1639","2f059791.2e23b8"]]},{"id":"8add2015.376a5","type":"template","z":"5a05b8f3.894b88","name":"lift_template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{topic}} {{payload}}","x":1870,"y":400,"wires":[["fee7b262.1cb85"]]},{"id":"fee7b262.1cb85","type":"exec","z":"5a05b8f3.894b88","command":"/coachproxy/rv-c/lift.pl ","addpay":true,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"lift.pl /tvlift/+pred/","x":2090,"y":400,"wires":[[],[],[]]},{"id":"19c2c8f8.b20587","type":"exec","z":"5a05b8f3.894b88","command":"/coachproxy/rv-c/up.pl ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"up.pl","x":1970,"y":340,"wires":[["47e7fe41.00bf4"],[],[]]},{"id":"8e6c2d9d.1639","type":"exec","z":"5a05b8f3.894b88","command":"/coachproxy/rv-c/down.pl ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"down.pl","x":1980,"y":480,"wires":[["47e7fe41.00bf4"],[],[]]},{"id":"2f059791.2e23b8","type":"change","z":"5a05b8f3.894b88","name":"disable buttons","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":560,"wires":[["ac04b75b.904a48","7e3a947d.422b9c"]]},{"id":"47e7fe41.00bf4","type":"change","z":"5a05b8f3.894b88","name":"enable buttons","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":560,"wires":[["ac04b75b.904a48","7e3a947d.422b9c"]]},{"id":"f77258cc.3f76a8","type":"ui_group","z":"","name":"TV Lift","tab":"ca7e3f9c.a33c","order":2,"disp":true,"width":"6","collapse":false},{"id":"ca7e3f9c.a33c","type":"ui_tab","z":"5a05b8f3.894b88","name":"Interior","icon":"home","order":1}]